body {
  background-color: #666666;
  text-align: center;

}
#app {

}

.btn {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5%;
}

html {
  box-sizing: border-box;
}
* {
   box-sizing: inherit;
 }

 h3 {
   text-align: center;
 }

 [class*="grid-"] {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 [class*="grid-"] > * {
   flex: 0 0 auto;
 }

 [class*="grid-4"] > * {
   width: calc(100% * 1 / 4 );
 }
 .list-articles-grid {
   text-align: center;
   margin: 0 auto;
 }

 .list-articles-grid .list-articles-item {

   border-bottom: 0;
 }

 .list-articles-grid .list-articles-item + .list-articles-item {
   border-left: 1px solid #e7eaea;
 }

 .list-articles-grid .list-articles-item {
   display: flex;
   flex-direction: column;
   padding-bottom: 1em;
   padding: 0 .45em;
 }

 .list-articles-item {
   overflow: hidden;
 }

 /* image responsive */

 img {
   max-width: 100%;
   height: 100%;
   vertical-align: middle;
   border-radius: 100%
 }
